html{
    scroll-behavior: smooth;
}
.feature_title ~ .feture_des{
    opacity: 0;
    transition: all ease 1s;
}
.feature_title ~ .feture_des.transition_left{
    transform: translateX(-20px);
}
.feature_title ~ .feture_des.transition_right{
    transform: translateX(20px);
}

.feature_title:hover ~ .feture_des{
    opacity: 1;
    transform: translateX(0px);
}
.feature_title ~ .feture_background{
    background-color: transparent;
    transition: all 0.3s ease-in;
}
.feature_title:hover ~ .feture_background{
    background-color: #eff0f285;
}
.feature_title.active ~ .feture_des{
    opacity: 1;
    transform: translateX(0px);
}
.feature_title.active ~ .feture_background{
    background-color: #eff0f285;
}
.swipe_right_to_left{
    animation: swipeRightToLeft ease-in-out 2s forwards;
}
.swipe_left_to_tight{
    animation: swipeLeftToRight ease-in-out 2s forwards;
}
/* Hiệu ứng trượt từ trái qua phải */
@keyframes swipeRightToLeft {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes swipeLeftToRight {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
}
/* Hiệu ứng slide */
.slide_home .slide_content{
    transform: translateX(-100%);
    transition: all 1s ease-in;
}
.slide_home .slide_image{
    transition: all 0.7s ease-in;
}
.slide_home .slide_content:nth-child(1){
    opacity: 0;
}
.slide_home .slide_content:nth-child(2){
    opacity: 1;
}
.slide_home .slide_content:nth-child(n + 3){
    opacity: 0;
}
.slide_home .slide_image:nth-child(1){
    left: -100%;
}
.slide_home .slide_image:nth-child(2){
    left: 0;
}
.slide_home .slide_image:nth-child(n + 3){
    left: 100%;
}
/* Hiệu ứng hover đổi icon */
.business_item > .icon_circle_checked_2{
    display: block;
}
.business_item > .icon_circle_checked_3{
    display: none;
}
.business_item.active{
    background-color: #eec733;
    color: white;
}
.business_item.active > .icon_circle_checked_2,
.business_item:hover > .icon_circle_checked_2{
    display: none;
}
.business_item.active > .icon_circle_checked_3,
.business_item:hover > .icon_circle_checked_3{
    display: block;
}
/* Chạy slide vô tận */
.scroll_infinity{
    animation: scrollInfinity 10s linear infinite;
}
@keyframes scrollInfinity{
    0%{
        transform: translateX(0);
    }100%{
        transform: translateX(calc(-100% - 1rem));
    }
}
@media only screen and (max-width: 768px) {
    /* Menu navigation mobile */
    #menu ~ nav{
        display: none;
    }
    #menu:checked ~ nav{
        display: flex;
    }
    /* Other */
    .feature_title ~ .feture_des{
        opacity: 1;
        transform: translateX(0px);
    }
    .feature_title ~ .feture_background{
        background-color: #eff0f25f;
    }
    .feature_title ~ .feture_des.transition_left{
        transform: translateX(0px);
    }
    .feature_title ~ .feture_des.transition_right{
        transform: translateX(0px);
    }
    .feature_title ~ .feture_background{
        background-color: #eff0f25f;
    }
    /* Hiệu ứng slide */
}